<br />
<h4>Cadastrar Disciplina</h4><hr />
<form name="form" (ngSubmit)="f.form.valid && criar(f)" #f="ngForm" novalidate>
  <div class="row form-group">
    <div class="col-md-4">
      <label>Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="disciplina.nome" #nome="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nome.errors }" required />
      <div *ngIf="f.submitted && !nome.valid" class="invalid-feedback">Nome é obrigatório</div>
    </div>
  </div>
  <label for="peso">Peso</label>
  <div class="row form-group">
    <div class="col-md-4">
      <label for="pesoTeoria">Teoria</label>
      <div class="input-group">
        <input type="number" class="form-control" name="pesoTeoria" [(ngModel)]="disciplina.pesoTeoria" #pesoTeoria="ngModel" min="0" max="100" [ngClass]="{ 'is-invalid': f.submitted && pesoTeoria.errors }" required />
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
      <div *ngIf="f.submitted && !pesoTeoria.valid" class="invalid-feedback">Peso Teoria é obrigatório</div>
    </div>
    <div class="col-md-4">
      <label for="pesoPratica">Prática</label>
      <div class="input-group">
        <input type="number" class="form-control" name="pesoPratica" [(ngModel)]="disciplina.pesoPratica" #pesoPratica="ngModel" min="0" max="100" [ngClass]="{ 'is-invalid': f.submitted && pesoPratica.errors }" required />
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
      <div *ngIf="f.submitted && !pesoPratica.valid" class="invalid-feedback">Peso Prática é obrigatório</div>
    </div>
  </div>
  <button type="submit" class="btn btn-success float-right">
    <i class="fa fa-save mr-2" *ngIf="!salvando"></i>
    <i class="spinner-border spinner-border-sm mr-2" *ngIf="salvando"></i>
    <span>Salvar</span>
  </button>
</form>

