<h4>Cadastrar Matéria</h4><br />
<form name="form" (ngSubmit)="f.form.valid && criar()" #f="ngForm" novalidate>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="materia.nome" #nome="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nome.errors }" required />
      <div *ngIf="f.submitted && !nome.valid" class="invalid-feedback">Nome é requerido</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="peso">Peso</label>
      <input type="number" class="form-control" name="peso" [(ngModel)]="materia.peso" #peso="ngModel" [ngClass]="{ 'is-invalid': f.submitted && peso.errors }" required />
      <div *ngIf="f.submitted && !peso.valid" class="invalid-feedback">Peso é requerido</div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

