/*You can add global styles to this file, and also import other style files*/
.invalid-feedback {
  font-size: 12px;
}

.fa {
  width: 16px;
  height: 16px;
}

label {
  margin: 0px;
}

.ui-autocomplete-dropdown {
  height: 35px !important;
}

.table-paginator {
  margin-bottom: -1px;
}

.table-header {
  font-size: 14px;
  background-color: #f4f4f4;
}

.table-body {
  font-size: 13px;
}

.ui-paginator .ui-dropdown {
  height: 33px !important;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
