<br />
<h4>Cadastrar Curso</h4><hr />
<form name="form" (ngSubmit)="f.form.valid && criar(f)" #f="ngForm" novalidate>
  <div class="row form-group">
    <div class="col-md-4">
      <label>Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="curso.nome" #nome="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nome.errors }" required />
      <div *ngIf="f.submitted && !nome.valid" class="invalid-feedback">Nome é obrigatório</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <label for="descricao">Descrição</label>
      <input type="text" class="form-control" name="descricao" [(ngModel)]="curso.descricao" #descricao="ngModel" [ngClass]="{ 'is-invalid': f.submitted && descricao.errors }" required />
      <div *ngIf="f.submitted && !descricao.valid" class="invalid-feedback">Descrição é obrigatório</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="coordenador">Coordenador</label><br />
      <p-autoComplete name="coordenador" [(ngModel)]="coordenador" field="nome" (onSelect)="aoSelecionarCoordenador($event)" (onClear)="aoSelecionarCoordenador($event)"
                      [suggestions]="coordenadores" (completeMethod)="buscarCoordenadores($event)" [size]="40"
                      [forceSelection]="true" [dropdown]="true" required>
        <ng-template let-coordenador pTemplate="item">
          <div class="ui-helper-clearfix">
            <div>{{ coordenador?.nome }} {{ coordenador?.sobrenome }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
  <button type="submit" class="btn btn-success float-right">
    <i class="fa fa-save mr-2" *ngIf="!salvando"></i>
    <i class="spinner-border spinner-border-sm mr-2" *ngIf="salvando"></i>
    <span>Salvar</span>
  </button>
</form>

