<h4>Cadastrar Usuário</h4>
<hr />
<form name="form" (ngSubmit)="f.form.valid && (usuario.cargo != null && usuario.cargo != 0) && criar(f)" #f="ngForm">
  <div class="row form-group">
    <div class="col-md-4">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" name="cpf" [(ngModel)]="usuario.cpf" #cpf="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cpf.errors }"
             mask="000.000.000-00" required />
      <div *ngIf="f.submitted && !cpf.valid" class="invalid-feedback">CPF é obrigatório</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nome.errors }" required />
      <div *ngIf="f.submitted && !nome.valid" class="invalid-feedback">Nome é obrigatório</div>
    </div>
    <div class="col-md-4">
      <label for="sobrenome">Sobrenome</label>
      <input type="text" class="form-control" name="sobrenome" [(ngModel)]="usuario.sobrenome" #sobrenome="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sobrenome.errors }" required />
      <div *ngIf="f.submitted && !sobrenome.valid" class="invalid-feedback">Sobrenome é obrigatório</div>
    </div>
    <div class="col-md-4">
      <label for="dataNascimento">Data de Nascimento</label>
      <input type="date" class="form-control" name="sobrenome" [(ngModel)]="usuario.dataNascimento" #dataNascimento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && dataNascimento.errors }" required />
      <div *ngIf="f.submitted && !dataNascimento.valid" class="invalid-feedback">Data de Nascimento é obrigatório</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" placeholder="exemplo@gmail.com" [(ngModel)]="usuario.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" required email />
      <div *ngIf="f.submitted && !email.valid" class="invalid-feedback">E-mail é obrigatório</div>
    </div>
    <div class="col-md-4">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" name="senha" [(ngModel)]="usuario.senha" #senha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && senha.errors }" required />
      <div *ngIf="f.submitted && !senha.valid" class="invalid-feedback">Senha é obrigatório</div>
    </div>
    <!--<div class="col-md-4">
      <label for="senhaVerificacao">Confirmar</label>
      <input type="password" class="form-control" name="senhaVerificacao" [(ngModel)]="senhaVerificacao" #senhaVerificacao="ngModel" [ngClass]="{ 'is-invalid': f.submitted && senha.errors || senha != senhaVerificacao }" required />
      <div *ngIf="f.submitted && !senhaVerificacao.valid" class="invalid-feedback">Confirme sua senha</div>
    </div>-->
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label>Cargos</label><br />
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="administrador" [(ngModel)]="administrador" id="administrador"
               (ngModelChange)="aoSelecionarCargo($event, cargos.administrador)" [disabled]="seForProfessor()" />
        <label class="custom-control-label" for="administrador">Administrador</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="coordenador" [(ngModel)]="coordenador" id="coordenador"
               (ngModelChange)="aoSelecionarCargo($event, cargos.coordenador)" />
        <label class="custom-control-label" for="coordenador">Coordenador</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="professor" [(ngModel)]="professor" id="professor"
               (ngModelChange)="aoSelecionarCargo($event, cargos.professor)" [disabled]="seForAdmin()" />
        <label class="custom-control-label" for="professor">Professor</label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success float-right">
    <i class="fa fa-save mr-2" *ngIf="!salvando"></i>
    <i class="spinner-border spinner-border-sm mr-2" *ngIf="salvando"></i>
    <span>Salvar</span>
  </button>
</form>
